body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url('../img/bg.png') repeat;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dude {
	display: block;
	margin: auto;
	position: absolute;
	bottom: 15px;
	left: 0px;
	right: 0;
}

@media screen and (min-width: 0px) {
	.dude {
		height: 350px;
	}
}


@media screen and (min-width: 700px) {
	.dude {
		height: 400px;
	}
}



@media screen and (min-width: 1000px) {
	.dude {
		height: 500px;
	}
}