.btn {
	display: block;
	width: 80px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
	font-size: 20px;
	background: #ffffff;
	padding: 10px 20px;
	border: solid #3cb0fd 2px;
	text-decoration: none;
	color: #3cb0fd;
	text-align: center;
	transition: all 0.2s ease-in-out;
}
.btn:hover {
  background: #3cb0fd;
  color: #fff;
  text-decoration: none;
}
.btn:focus {
	position: relative;
	top: 1px;
}