ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: auto;
	width: 60%;
}
#player_wrapper {
	background-color: #E9ECF0;
	padding: 5px;
}
#player_track {
	margin-bottom: 4px;
	padding-left: 10px;
	font-size: 1.2em;
	color: #333333;
}
#player {
	width: 100%;
	background-color: #E9ECF0;
}
#track_list {
	margin-top: 10px;
}
.track {
	list-style: none;
	background-color: #E9ECF0;
	margin: 3px 0;
	height: 32px;
	line-height: 32px;
	padding: 2px;
	overflow: hidden;
	color: #333333;
}
.track img,span {
	float: left;
}
.download_but {
	display: block;
	float: right;
}