body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
	width: 60%;
	margin: 0;
	padding: 0;
	margin: auto;
}

/* Menu buttons*/
#menu_buttons {
	position: fixed;
	float: left;
	margin: 20px;
}

/* Player */
#player_wrapper {
	position: fixed;
	background-color: #E9ECF0;
	z-index: 2;
	padding: 5px;
	width: 62%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#player_track {
	margin-bottom: 4px;
	padding-left: 10px;
	font-size: 1.2em;
	color: #333333;
}
#player {
	width: 100%;
	background-color: #E9ECF0;
}

/* Track list */
#track_list {
	margin: 0;
	padding: 0;
	margin-top: 10px;
}
.track {
	list-style: none;
	background-color: #E9ECF0;
	margin: 2px 0;
	height: 32px;
	line-height: 32px;
	padding: 2px;
	overflow: hidden;
	color: #333333;
	border: 2px solid #3cb0fd;
	opacity: 0.925;
}
.track img, span {
	float: left;
}
.track span {
	margin-left: 8px;
}
.download_but {
	display: block;
	float: right;
}
.play_img, .download_but:hover {
	cursor: pointer;
}

/* When track is playing */*
#track_playing {
	background-color: #76c9fa;
	opacity: 0.97;
}
