{% extends "base.jinja2" %}
{% block title %}Profile{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="static/css/profile.css">

	<script src="static/js/jquery-1.11.0.min.js"></script>
{% endblock %}

{% block content %}
<div id="wrapper">
	<div id="player_wrapper">
		<div id="player_track"></div>
		<audio id="player" src="" controls preload="none">
			Your browser doesn't support this player :(
		</audio>
	</div>

	<ul id="track_list">
		{% for track in track_list %}
		<li class="track">
			<img class="play_img" src="static/img/button-play.png">
			<span>{{ track.artist }} - {{ track.title }}</span>
			<a class="download_but" href="{{ track.url }}" download="{{ track.artist }} - {{ track.title }}">
				<img src="static/img/save-icon.png">
			</a>
			<input type="text" value="{{ track.url }}" hidden/>
		</li>
		{% endfor %}
	</ul>

	<!-- Scripts for faster loading -->
	<script src="static/js/dynamic_player.js"></script>
</div>
{% endblock %}