{% extends "base.jinja2" %}
{% block title %}Profile{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="static/css/button.css">
	<link rel="stylesheet" type="text/css" href="static/css/profile.css">

	<script src="static/js/jquery-1.11.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="menu_buttons">
	<a class="btn" href="/logout">Logout</a>
</div>
<div class="player_wrapper">
	<div id="player_track" class="player_track">{{ track_list[0].artist }} - {{ track_list[0].title }}</div>
	<audio id="player" class="player" src="{{ track_list[0].url }}" controls preload="none">
		Your browser doesn't support this player :(
	</audio>
</div>
<div class="wrapper">

	<ul class="track_list">
		{% for track in track_list %}
		<li class="track" data-track-url="{{ track.url }}">
			<div class="play_img  play_img_not_playing"></div>
			<span class='track_title'>{{ track.artist }} - {{ track.title }}</span>
			<a role='button' class="download_but" href="{{ track.url }}" download="{{ track.artist }} - {{ track.title }}">
				<img src="static/img/save-icon.png">
			</a>
		</li>
		{% endfor %}
	</ul>

	<!-- Scripts for faster loading -->
	<script src="static/js/dynamic_player.js"></script>
</div>
{% endblock %}